.right-clicked {
   background-color: aquamarine;
}

.double-clicked {
   background-color: rgb(244, 255, 127);
}

.hovered {
   background-color: rgb(255, 0, 200)
}

.clicked-by-coords {
   background-color: rgb(0, 101, 129)
}